*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    background-image: url('/images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    background-size: cover;
    margin: 150px 100px;
    padding: 200px 100px;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    font-family: Arial, Helvetica, sans-serif;
    font: 600px 18px / 22px "Poppins";
    font-size: 16px;
  }
h1,h2 {
    color: hsl(0, 0%, 98%);
}
h1{
    font-size: 46px;
}
/*
  ========================================
  form
  ========================================
*/
.container,.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    flex-direction: column;
}
.lead, .form {
    flex-basis: 33%;
    margin: 20px;
}
.form-head{
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    padding: 0px 10px;
}
.form-head,.form-content {
    border-radius: 10px;
    margin-bottom: 25px;
    width: 100%;
    box-shadow: 0px 3px hsl(0, 25%, 51%);
}
.form-content {
    background: hsl(0, 0%, 98%);
    color: hsl(0, 100%, 74%);
}
.input {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.input-val input{
    border: 0px;
    background: hsl(0, 0%, 98%);
}
.input p {
    align-self: flex-end;
    margin-top: 5px;
    margin-bottom: 0px;
    display:none;
}
.input-val input,.btn {
    font-size: 18px;
}
.btn {
    border: 0px;
    background-color: hsl(154, 59%, 51%);
    color: hsl(0, 0%, 98%);
    border-radius: 5px;
}
.btn-alt p {
    display: block;
    color: hsl(246, 25%, 77%);
    align-self: center;
    text-align: center;
    font-size: 13px;
}
.input-val {
    background: hsl(0, 0%, 98%);
    display: flex;
    border: 2px solid hsl(246, 25%, 77%);
    color: hsl(249, 10%, 26%);
    border-radius: 5px;
}
.input-val input,.btn {
    padding: 12px;
    outline: 0;
}

.input-val input {
    flex: 2;
}
.input-val input:focus + .input-val{
    border: 3px solid hsl(249, 10%, 26%);
}
.input-val img {
    padding:10px;
    display:none;
}
.form-content {
    padding: 15px;
}

/*
  ========================================
  mobile
  ========================================
*/
@media only screen and (max-width:700px) {
    
    .container {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding:0px;
    }
    .form-content{
        padding: 10px;
    }
    h1 {
        font-size: 26px;
    }
    .input-val input,.btn{
        font-size: 14px;
        padding: 8px 5px;
        outline: 0;
    }
    .form-head p,.input p {
        font-size: 15px;
    }
    .btn-alt p {
        font-size: 10px;
    }
    .lead ,.btn-alt p{
        text-align: center;
    }
}
@media only screen and (min-width:700px) and (max-width:1100px) {
    
    .container {
        /* display: flex;
        flex-direction: column; */
        margin: 50px;
        padding:0px;
    }
    .form-content{
        padding: 10px;
    }
    h1 {
        font-size: 23px;
    }
    .input-val input,.btn{
        font-size: 14px;
        padding: 8px 5px;
        outline: 0;
    }
    .form-head p,.input p ,.lead p{
        font-size: 13px;
    }
    .btn-alt p {
        font-size: 10px;
    }
    /* .lead ,.btn-alt p{
        text-align: center;
    } */
}